# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# Build
dist/
build/

# Cache
.cache/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
tmp/

# AWS
.aws/

# Editors
.vscode/
.idea/
